.box {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 120px;
    opacity: 0.75;
}

.icon path {
    fill: var(--light-sky-blue);
}

.percentage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 700;
}

.percentage--back {
    color: var(--theme-silvery-white);
    z-index: -1;
}

.percentage--front {
    color: transparent;
    -webkit-text-stroke: 2px var(--theme-black);
    z-index: 1;
}