/* Possible to use grid with subgrid or make it just display contents */
.box {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    gap: 20px;
}

.day {
    color: rgba(255, 255, 255, 0.8);
}

.icon {
    width: 40px;
}

.temperature {
    text-align: right;
    color: white;
    font-weight: 700;
}

.temperature--badge {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
}

.indicator-box {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #000;
}

.indicator {
    position: absolute;
    height: 4px;
    border-radius: 2px;
}

.indicator--current {
    position: absolute;
    top: 50%;
    width: 8px;
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}