/* Possible to use grid with subgrid or make it just display contents */
.box {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    gap: 20px;
    color: white;
}

.icon {
    width: 40px;
}

.indicator-box {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2c2c2c;
}

.indicator {
    position: absolute;
    height: 4px;
    border-radius: 2px;
}

.indicator--current {
    position: absolute;
    top: 50%;
    width: 8px;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}