.form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #2c2c2c;
    box-shadow: inset 0 0 8px #1c1c1c;
    transition: box-shadow 0.5s;
    padding: 8px;
}

.form:focus-within {
    box-shadow: inset 0 0 2px #1c1c1c;
}

.icon {
    cursor: text;
    width: 32px;
}

.icon path {
    stroke: rgba(255, 255, 255, 0.6);
    transition: stroke 0.5s, filter 0.5s;
}

.form:focus-within .icon path {
    stroke: #fff;
    filter: drop-shadow(0 0 2px #fff);
}

.search {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
}

.search::placeholder {
    text-transform: none;
    color: rgba(255, 255, 255, 0.4);
}
