.form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--theme-light-gray);
    box-shadow: inset 0 0 8px var(--theme-silvery-white);
    transition: box-shadow 0.5s ease-out;
    padding: 8px;
}

.form:focus-within {
    box-shadow: inset 0 0 2px var(--theme-silvery-white);
}

.icon {
    cursor: text;
    width: 32px;
}

.icon path {
    stroke: rgb(from var(--theme-black) r g b / 0.6);
    transition: stroke 0.5s ease-out, filter 0.5s ease-out;
}

.form:focus-within .icon path {
    stroke: var(--theme-black);
    filter: drop-shadow(0 0 2px var(--theme-black));
}

.search {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: var(--theme-black);
    font-size: 18px;
}

.search::placeholder {
    text-transform: none;
    color: rgb(from var(--theme-black) r g b / 0.4);
}
