.background {
    width: 100%;
    height: 100%;
    background-color: var(--theme-echo-white);
    border-radius: 20px;
    padding: 40px;
}

@media screen and (max-width: 1280px) {
    .background {
        padding: 20px;
    }
}