.box {
    flex: 1;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.location__name {
    color: var(--theme-black);
    font-size: 32px;
    font-weight: 700;
}

.location__region {
    color: rgb(from var(--theme-black) r g b / 0.6);
}

.condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.condition__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.condition__icon {
    width: 80px;
}

.condition__temperature {
    color: var(--theme-black);
    font-size: 60px;
}

.condition__text {
    color: rgb(from var(--theme-black) r g b / 0.6);
    font-size: 18px;
}

.condition__min-max {
    display: flex;
    gap: 40px;
    background-color: rgb(from var(--theme-black) r g b / 0.1);
    border-radius: 5px;
    padding: 4px 16px;
}

.min-max {
    display: flex;
    align-items: center;
    gap: 4px;
}

.min-max__temperature {
    color: var(--theme-black);
    font-size: 20px;
}

.min-max__arrow {
    width: 28px;
}

.min-max__arrow path {
    stroke: rgb(from var(--theme-black) r g b / 0.8);
}

.min-max__arrow--down {
    transform: rotate(180deg);
}

.reset-box {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.reset {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    background: var(--dodger-blue);
    opacity: 0.8;
    text-transform: capitalize;
    color: var(--theme-black);
    font-size: 18px;
    padding: 8px 12px;
}

.reset:hover {
    opacity: 1;
}

.reset:active {
    opacity: 0.8;
}

@media screen and (max-width: 1280px) {
    .box {
        flex: 2;
    }
}

@media screen and (max-width: 992px) {
    .box {
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    .box > div {
        overflow: visible;
    }
}