.box {
    width: 400px;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.location__name {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.location__region {
    color: rgba(255, 255, 255, 0.6);
}

.condition {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.condition__main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.condition__icon {
    width: 80px;
}

.condition__temperature {
    color: #fff;
    font-size: 60px;
}

.condition__text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
}

.condition__min-max {
    display: flex;
    gap: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 4px 16px;
}

.min-max {
    display: flex;
    align-items: center;
    gap: 4px;
}

.min-max__temperature {
    color: white;
    font-size: 20px;
}

.arrow {
    width: 28px;
}

.arrow path {
    stroke: rgba(255, 255, 255, 0.8);
}

.arrow--down {
    transform: rotate(180deg);
}

.reset-box {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.reset {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    background: dodgerblue;
    opacity: 0.8;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
}

.reset:hover {
    opacity: 1;
}

.reset:active {
    opacity: 0.8;
}