/* Possible to use grid with subgrid or make it just display contents */
.box {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    gap: 20px;
    padding: 4px 12px;
}

.today {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.day {
    color: rgba(255, 255, 255, 0.8);
}

.icon {
    width: 40px;
}

.temperature {
    text-align: right;
    color: white;
    font-weight: 700;
}

.indicator-track {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #000;
}

.indicator-box {
    position: absolute;
}