/* Possible to use grid with subgrid or make it just display contents */
.box {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    gap: 20px;
    padding: 4px 12px;
}

.today {
    background-color: rgb(from var(--theme-black) r g b / 0.1);
    border-radius: 6px;
}

.day {
    color: rgb(from var(--theme-black) r g b / 0.8);
}

.icon {
    width: 40px;
}

.temperature {
    text-align: right;
    color: var(--theme-black);
    font-weight: 700;
}

.indicator-track {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--theme-white);
}

.indicator-box {
    position: absolute;
}

@media screen and (max-width: 992px) {
    .box {
        gap: 8px;
    }
}