@import './colors.css';
@import "./theme.css";

* {
    font-family: sans-serif;
    line-height: 1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--theme-light-gray);
}

img,
svg {
    display: block;
}
