:root {
    color-scheme: light dark;

    --theme-black: light-dark(var(--black), var(--white));
    --theme-white: light-dark(var(--white), var(--black));
    --theme-light-gray: light-dark(var(--light-gray), var(--metallic-black));
    --theme-echo-white: light-dark(var(--echo-white), var(--dull-black));
    --theme-silvery-white: light-dark(var(--silvery-white), var(--blackboard));
}

html[data-theme='light'] {
    color-scheme: light;
}

html[data-theme='dark'] {
    color-scheme: dark;
}