.scroll-box {
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-box::-webkit-scrollbar {
    display: none;
}

.axis-X {
    overflow: auto hidden;
    scroll-snap-type: x mandatory;
}

.axis-Y {
    overflow: hidden auto;
}