.box {
    display: flex;
    align-items: center;
    gap: 40px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.compass-box {
    width: max(25%, 180px);
    aspect-ratio: 1;
}