.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.compass-box {
    flex: 0 0 180px;
}

@media screen and (max-width: 1580px) {
    .box {
        gap: 20px;
    }

    .compass-box {
        flex-basis: 160px;
    }
}

@media screen and (max-width: 1460px) {
    .box {
        gap: 40px;
    }

    .compass-box {
        flex-basis: 180px;
    }
}

@media screen and (max-width: 992px) {
    .box {
        gap: 20px;
    }

    .compass-box {
        flex: 1 1 100%;
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .compass-box {
        flex: 0 0 180px;
        padding: 0;
    }
}

@media screen and (max-width: 545px) {
    .compass-box {
        flex: 0 0 160px;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .compass-box {
        flex: 1 1 100%;
        padding: 0 40px;
    }
}