.box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
    animation: spin 1s infinite ease-in-out;
}

.icon path {
    fill: var(--theme-black);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}