.page {
    height: 100vh;
    display: flex;
    padding: 40px;
}

.box {
    width: 100%;
    display: flex;
    gap: 40px;
    background-color: var(--theme-silvery-white);
    border-radius: 20px;
    padding: 40px;
}

.error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.error__message {
    color: var(--theme-black);
    font-size: 24px;
}

.error__back-btn {
    position: relative;
    cursor: pointer;
    color: rgb(from var(--theme-black) r g b / 0.8);
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: color 0.5s;
}

.error__back-btn:hover {
    color: var(--theme-black);
}

.error__back-btn::before {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(from var(--theme-black) r g b / 0.8);
    transition: background-color 0.5s, filter 0.5s;
}

.error__back-btn:hover::before {
    background-color: var(--theme-black);
    filter: drop-shadow(0 0 2px var(--theme-black));
}

@media screen and (max-width: 1280px) {
    .page {
        padding: 20px;
    }

    .box {
        gap: 20px;
        padding: 40px 20px;
    }
}

@media screen and (max-width: 992px) {
    .page {
        padding: 0;
    }

    .box {
       border-radius: unset;
    }
}

@media screen and (max-width: 768px) {
    .page {
        height: auto;
        min-height: 100vh;
    }

    .box {
        flex-direction: column;
        gap: 40px;
    }

    .box > hr {
        display: none;
    }
}