.page {
    min-height: 100vh;
    display: flex;
    padding: 40px;
}

.box {
    flex: 1;
    display: flex;
    background-color: #1c1c1c;
    border-radius: 20px;
    padding: 40px;
}

.error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.error__message {
    color: #fff;
    font-size: 24px;
}

.error__back-btn {
    position: relative;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: color 0.5s;
}

.error__back-btn:hover {
    color: #fff;
}

.error__back-btn::before {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.5s, filter 0.5s;
}

.error__back-btn:hover::before {
    background-color: #fff;
    filter: drop-shadow(0 0 2px #fff);
}