.title__icon {
    height: 18px;
}

.title__icon path {
    fill: white;
}

.visibility-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.visibility {
    color: white;
    font-size: 32px;
}