.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    text-transform: capitalize;
    color: rgb(form var(--theme-black) r g b / 0.8);
}

.value {
    color: var(--theme-black);
    font-size: 18px;
}