.box {
    width: calc(100% - 481px);
    display: flex;
}

.details-box {
    flex: 1;
}

.forecasts-box {
    width: 480px;
}

.forecasts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}