.box {
    min-width: 0;
    flex: 3;
    display: flex;
    gap: 40px;
}

.details-box {
    flex: 3;
}

.forecasts-box {
    min-width: 440px;
    flex: 2;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cloud-coverage-box,
.feelslike-box,
.uv-box,
.pressure-box {
    flex: 1 1 calc((100% - 20px) / 2);
}

.wind-box {
    flex: 1 1 100%;
}

.visibility-box,
.precipitation-box,
.humidity-box {
    flex: 1 1 calc((100% - 40px) / 3);
}

.cloud-title-icon,
.visibility-title-icon,
.precipitation-title-icon,
.humidity-title-icon,
.feelslike-title-icon,
.uv-title-icon,
.pressure-title-icon,
.wind-title-icon {
    height: 18px;
}

.cloud-title-icon path,
.visibility-title-icon path,
.precipitation-title-icon path,
.humidity-title-icon path,
.uv-title-icon path,
.pressure-title-icon path,
.wind-title-icon path {
    fill: var(--theme-black);
}

.feelslike-title-icon path {
    stroke: var(--theme-black);
}

.forecasts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1580px) {
    .cloud-coverage-box,
    .feelslike-box,
    .uv-box,
    .pressure-box {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1460px) {
    .box {
        flex: 2;
        flex-wrap: wrap;
        gap: 20px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .box::-webkit-scrollbar {
        display: none;
    }

    .details-box,
    .forecasts-box {
        flex: 1 1 100%;
    }

    .forecasts-box {
        order: -1;
    }

    .cloud-coverage-box,
    .feelslike-box,
    .uv-box,
    .pressure-box {
        flex-basis: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 1280px) {
    .box {
        flex: 3;
    }
}

@media screen and (max-width: 992px) {
    .box {
        flex: 1;
    }

    .forecasts-box {
        min-width: 0;
    }

    .cloud-coverage-box,
    .feelslike-box,
    .uv-box,
    .pressure-box {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    .box {
        flex-basis: 100%;
    }

    .cloud-coverage-box,
    .feelslike-box,
    .uv-box,
    .pressure-box {
        flex-basis: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 545px) {
    .box {
        flex-basis: 100%;
    }

    .cloud-coverage-box,
    .feelslike-box,
    .uv-box,
    .pressure-box {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 378px) {
    .visibility-box,
    .precipitation-box,
    .humidity-box {
        flex-basis: 100%;
    }
}