.box {
    width: calc(100% - 481px);
    display: flex;
    gap: 40px;
}

.details-box {
    flex: 1;
}

.forecasts-box {
    width: 480px;
}

.details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cloud-coverage-box,
.visibility-box {
    width: calc((100% - 20px) / 2);
}

.forecasts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}