.box {
    width: calc(100% - 481px);
    display: flex;
    gap: 40px;
}

.details-box {
    flex: 1;
}

.forecasts-box {
    width: 480px;
}

.details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cloud-coverage-box,
.feelslike-box,
.uv-box,
.pressure-box {
    width: calc((100% - 20px) / 2);
}

.wind-box {
    width: 100%;
}

.visibility-box,
.precipitation-box,
.humidity-box {
    width: calc((100% - 40px) / 3);
}

.cloud-title-icon,
.visibility-title-icon,
.precipitation-title-icon,
.humidity-title-icon,
.feelslike-title-icon,
.uv-title-icon,
.pressure-title-icon,
.wind-title-icon {
    height: 18px;
}

.cloud-title-icon path,
.visibility-title-icon path,
.precipitation-title-icon path,
.humidity-title-icon path,
.uv-title-icon path,
.pressure-title-icon path,
.wind-title-icon path {
    fill: white;
}

.feelslike-title-icon path {
    stroke: white;
}

.forecasts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}