.box {
    width: calc(100% - 481px);
    display: flex;
    gap: 40px;
}

.details-box {
    flex: 1;
}

.forecasts-box {
    width: 480px;
}

.details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cloud-coverage-box,
.visibility-box,
.precipitation-box {
    width: calc((100% - 20px) / 2);
}

.cloud-title-icon,
.visibility-title-icon,
.precipitation-title-icon {
    height: 18px;
}

.cloud-title-icon path,
.visibility-title-icon path,
.precipitation-title-icon path {
    fill: white;
}

.forecasts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}