.indicator {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.current {
    position: absolute;
    top: 50%;
    width: 8px;
    aspect-ratio: 1;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}