.menu {
    position: absolute;
    inset: 40px 0 0;
    background-color: var(--theme-silvery-white);
    transform: translateX(-100%);
    transition: 0.5s ease-out;
    padding: 20px 0;
    z-index: 100;
}

.menu--open {
    transform: translateX(0);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    .menu {
        position: fixed;
        inset: 80px 0 0;
        padding: 20px;
    }
}