.menu {
    position: absolute;
    inset: 60px 0 0;
    background-color: var(--theme-silvery-white);
    transform: translateX(-100%);
    transition: 0.5s ease-out;
    z-index: 10;
}

.menu--open {
    transform: translateX(0);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    .menu {
        height: calc(100vh - 100px);
    }
}