.compass {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    border: 6px solid #2c2c2c;
    border-radius: 50%;
    box-shadow: inset 0 0 10px black;
}

.arrow-box {
    position: relative;
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.arrow-box::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    background: #2c2c2c;
    box-shadow: 0 0 6px black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.arrow {
    width: 100%;
    height: 50%;
}

.arrow--up {
    background-color: red;
    clip-path: polygon(0% 100%, 50% 20%, 100% 100%);
}

.arrow--down {
    background-color: white;
    clip-path: polygon(0% 0%, 50% 80%, 100% 0%);
}

.direction,
.mixed-direction {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: 700;
    transform-origin: 0 center;
}

.direction {
    color: white;
    font-size: 20px;
    padding: 8px 0;
}

.direction--N {
    rotate: 0;
}

.direction--E {
    rotate: 90deg;
}

.direction--S {
    rotate: 180deg;
}

.direction--W {
    rotate: 270deg;
}

.mixed-direction {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding: 14px 0;
}

.mixed-direction--NE {
    rotate: 45deg;
}

.mixed-direction--SE {
    rotate: 135deg;
}

.mixed-direction--SW {
    rotate: 225deg;
}

.mixed-direction--NW {
    rotate: 315deg;
}