.header {
    display: flex;
    align-items: center;
    background-color: var(--theme-silvery-white);
}

.menu-btn {
    cursor: pointer;
    width: 40px;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

.menu-btn__icon {
    width: 100%;
}

.menu-btn__icon path {
    stroke: rgb(from var(--theme-black) r g b / 0.8);
    transition: 0.3s ease-out;
}

.menu-btn:hover .menu-btn__icon path {
    stroke: var(--theme-black);
}

.menu-btn:hover:active .menu-btn__icon path {
    stroke: transparent;
}

@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        z-index: 100;
    }
}