.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uv-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.uv {
    color: var(--theme-black);
    font-size: 32px;
}

.level {
    text-transform: capitalize;
    font-size: 18px;
}

.suggestion {
    color: rgb(from var(--theme-black) r g b / 0.8);
}