.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    scroll-snap-align: start;
    padding: 4px 12px;
}

.now {
    background-color: rgba(from var(--theme-black) r g b / 0.1);
    border-radius: 6px;
}

.time {
    color: rgba(from var(--theme-black) r g b / 0.8);
    font-size: 14px;
}

.children-box {
    width: 40px;
}

.value {
    color: var(--theme-black);
    font-size: 16px;
    font-weight: 700;
}