.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
}

.now {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.time {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.children-box {
    width: 40px;
}

.value {
    color: white;
    font-size: 16px;
    font-weight: 700;
}