.box {
    display: grid;
    gap: 12px 20px;
    grid-template-columns: max-content 40px max-content 1fr max-content;
}

@media screen and (max-width: 992px) {
    .box {
        gap: 12px 8px;
    }
}